<html>
    <head>
        <Title>
        </Title>
    </head>
    <Body>
        <div>
            <form >
                <legend>Reset Password</legend>
                <input name="email" type="email" placeholder="Enter your mail">
                <input name="submit" type="submit">
                <legend>enter code</legend>
                <input name="token" type="text">
                <input name="submit" type="submit">
                <legend>new password</legend>
                <input name="password" type="password">
                <legend>confirm password</legend>
                <input name="password" type="password">
                <input name="submit" type="submit">
            </form>
        </div>
    </Body>
</html>